@import "../../../assets/scss/index";

.project_description {
    display: flex;
    flex-direction: column;
    padding: px2vw(60) px2vw(590);
    color: var(--dark_blue);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-top: 1em;
    }

    ol,
    ul {
        list-style-type: none;
        padding: 0;
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        gap: 0.8em;

        li {
            font-family: var(--nunito_b);
            font-size: clamp(14px, px2vw(16), 18px);
            // margin-top: 0.8em;
            line-height: 160%;
            display: flex;

            &::before {
                content: "";
                display: block;
                height: 1.6em;
                width: clamp(15px, px2vw(17), 19px);
                flex: none;
                margin-right: px2vw(24);
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='11' viewBox='0 0 17 11' fill='none'%3E%3Cpath d='M0 4.06522V6.93478H11L6.97368 11H11L16.4474 5.5L11 0H6.97368L11 4.06522H0Z' fill='%23FF671D'/%3E%3C/svg%3E") center/contain no-repeat;
            }
        }
    }

    img {
        width: 100%;
        max-height: px2vw(400);
        object-fit: cover;
        border-radius: px2vw(14);
        margin-top: 2em;
    }
}
