@import "../../../assets/scss";

.content {
    display: flex;
    flex-direction: column;
    gap: px2vw(60);
    width: 100%;
    height: 100%;

    .tabs {
        display: flex;
        gap: px2vw(50);
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #e6e8ea;
        }

        &.loading {
            pointer-events: none;
            opacity: .9;
        }

        .tab {
            color: #c0cad2;
            padding: 0 0 px2vw(25);
            font-family: var(--nunito_b);
            font-size: clamp(14px, px2vw(15), 16px);
            line-height: 178%;
            position: relative;
            transition: color 0.3s ease-in-out;

            &::after {
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: var(--dark_blue);
                border-radius: 50px;
                z-index: 2;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &.active,
            &:hover {
                color: var(--dark_blue);

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .grid {
        display: grid;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: px2vw(60) px2vw(40);

        .history_icon {
            width: auto;
        }
    }

    .no_proms {
        display: grid;
        height: 100%;
        place-content: center;

        h4 {
            color: var(--grey);
        }
    }


    .skeleton {
        min-height: px2vw(657);

        .bg {
            background: #EBEDEF;
            border-radius: 16px;
            animation: skeleton-loading .8s linear infinite alternate;

        }

        .icon {
            width: 100%;
            height: px2vw(390);
        }

        .information {
            padding-top: px2vw(24);

            .money {
                height: 2em;

            }

            .title {
                margin-top: px2vw(24);
                height: 2em;
            }

            .subtitle {
                margin-top: px2vw(8);
                height: 3em;

            }

            .buttons {
                margin-top: px2vw(24);
                display: flex;
                justify-content: space-between;

                .b {
                    height: px2vw(56);
                    width: 45%;
                }

            }

        }
    }

    @keyframes skeleton-loading {
        0% {
            background-color: #EBEDEF;
        }

        100% {
            background-color: #ebedef5e;
        }
    }
}