@import "../../../assets/scss";

.pass_content {
    display: flex;
    flex-direction: column;
    gap: px2vw(24);
    width: 75%;

    .form {
        display: flex;
        flex-direction: column;
        gap: px2vw(24);
        width: 100%;

    }

    .title {
        color: var(--dark_blue);
    }

    .description {
        color: #c0cad2;
    }

    .save {
        align-self: flex-start;
    }
}