@import "../../assets/scss";

.footer {
  display: flex;
  padding: px2vw(95) px2vw(0) px2vw(64) px2vw(200);
  position: relative;
  background-color: var(--dark_blue);

  .left_column {
    display: flex;
    gap: px2vw(115);

    .logo {
      align-self: flex-start;
      width: clamp(117px, px2vw(144), 150px);
      display: flex;

      img,
      svg {
        width: 100%;
        height: auto;
      }

    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .links {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1em px2vw(125);
    }

    .all_right {
      color: #c0cad2;

      opacity: 0.4;
    }
  }

  .center_column {
    display: flex;
    flex-direction: column;
    width: px2vw(270);
    margin-left: px2vw(190);

    .address {
      display: flex;
      flex-direction: column;
      gap: px2vw(40);
      margin-bottom: px2vw(174);

      .title {
        font-family: var(--nunito_sb);
        font-size: clamp(15px, px2vw(16), 17px);
      }

      .column {
        display: flex;
        flex-direction: column;
        gap: px2vw(14);

        div {

          p,
          a {
            color: #c0cad2;
          }
        }
      }
    }

    .title {
      color: var(--white);
    }
  }

  .right_column {
    width: px2vw(265);
    position: relative;
    z-index: 1;
    margin-left: px2vw(150);

    .title {
      color: var(--white);
      margin-bottom: px2vw(40);
    }
  }

  .link {

    a {
      font-family: var(--nunito_sb);
      // font-size: px2vw(16);
      line-height: 130%;
      color: var(--white);
      transition: .3s ease-in-out;

      &:hover {
        color: var(--yellow);
      }
    }
  }

  .socials {
    position: absolute;
    right: px2vw(64);
    bottom: px2vw(64);
    display: flex;
    flex-direction: column;
    gap: px2vw(28);

    .s {
      display: flex;
      width: 22px;

      svg {
        width: 100%;
        height: auto;

        path {
          fill: var(--grey);
          opacity: .6;
          transition: .3s ease-in-out;
        }
      }

      &:hover {

        svg path {
          opacity: 1;
          fill: var(--white);
        }
      }
    }
  }
}